body{
   
    padding-top:63px;

  }

  .navbar-nav .nav-link {
    
    font-size: 20px; /* Yazı boyutunu istediğiniz değere ayarlayabilirsiniz */
    font-weight: 600; 
    font-style: italic;
}

.resimSlider{
  width: 20px;
    height: 400px;
}
.baslik{
  text-align: center;
  font-size: 80px;
  font-style: italic;
  font-weight: 600;
  background-color:pink;
  
 
}
.nav-item{
  text-align: center;
  
}
.ul{
  color: black;
  height: 80px;
  background-color: white;

}

.navbar-nav{
  justify-content: center;
}
.card-title{
 
  font-style: italic;
  font-weight: 700;
}
.card-text{
  font-weight: 500;
}
.card{
  background-color: pink;
}