body{
  background-color:green;
  padding-top: 50px;

}
.navbar-nav .nav-link {
    
  font-size: 20px; /* Yazı boyutunu istediğiniz değere ayarlayabilirsiniz */
  font-weight: 600; 
  font-style: italic;
 
}

.takim-info {
  font-style: italic;
    margin-top: 60px;
    font-weight: 700;
  }
 .takim-description {
    margin-bottom: 50px;
    font-size: 18px;
    font-style: italic;
    
    
  }

.navbar-nav .link{
  color: white;
}
  .img-fluid {
    width: 100%; /* Resmin genişliğini ayarlar */
    height: auto; /* Orantılı yükseklik sağlar */
    border-radius: 10px; /* Kenar yumuşatma */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Gölge efekti */
    margin-bottom: 5rem;

  }
  table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}
.oyuncutitle{
  text-align: center;
  font-size: 50px;
  font-weight: 800px;
  font-style: italic;
}